.banner {
    display: flex;
    flex-flow: coluumn;
    max-width: 800px;
}
.text {
 flex-direction: column;
 align-content: space-between;

}
a{
     text-decoration: none;
     color: white;
     background: black;
     padding: 10px;
}
/* a :hover{
    color: goldenrod;
} dowiedz się jak w hover*/

.image {
    justify-content: flex-end;
    float: left;
}
@media (min-width: 600px) {
    
}