.banner {
    display: flex;
    flex-flow: coluumn;
    max-width: 800px;
}
.text {
 justify-content: flex-start;
 flex-direction: column;
 align-content: space-between;
 text-decoration: none;
}
.image {
    justify-content: flex-end;
    float: left;
}
@media (min-width: 600px) {
    
}